/* base styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

.emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
}

.emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
}

.emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
}

.icon {
    font-size: 4rem;
}

/* layouts */

/* emoji cards container */
main > div.emojis{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

/* emoji cards */
div.emoji{
    display: flex;
    flex-direction: column;
}

/* make button (anchor) align with bottom of card */
div.emoji a{
    margin-top: auto;
}

/* make emoji first and centred */
div.emoji span{
    order: -1;
    align-self: center;
}